{% set icon_name = icon_name|default('') %}
{% set icon_size = icon_size|default(50) %}

{% set icon_tab = icon_tab|default([]) %}

{% set icon = {
    'seo': '<svg xmlns="http://www.w3.org/2000/svg" width="36.38" height="34.18" viewBox="0 0 36.38 34.18"><path d="M1111.01,1994.33l-8.98,8.94-1.49,1.49a14.878,14.878,0,0,1-20.95,0,14.7,14.7,0,0,1,0-20.86l1.5-1.49,2.99,2.98-1.5,1.49a10.508,10.508,0,0,0,0,14.9,10.617,10.617,0,0,0,14.96,0l1.5-1.49h0l8.98-8.94a2.125,2.125,0,0,1,2.99,0A2.094,2.094,0,0,1,1111.01,1994.33Zm-14.96,2.98h0a6.368,6.368,0,0,1-8.98,0,6.3,6.3,0,0,1,0-8.94l2.99-2.98a2.137,2.137,0,0,1,3,0,2.112,2.112,0,0,1,0,2.98l-3,2.98a2.112,2.112,0,0,0,0,2.98,2.137,2.137,0,0,0,3,0l4.48-4.47a6.332,6.332,0,0,0-8.97-8.94l-4.49,4.47-2.99-2.98,4.48-4.47a10.629,10.629,0,0,1,14.97,0,10.508,10.508,0,0,1,0,14.9Z" transform="translate(-1075.28 -1974.88)"/></svg>',
    'graphic': '<svg xmlns="http://www.w3.org/2000/svg" width="30.91" height="44.88" viewBox="0 0 30.91 44.88"><path d="M1106.22,1831.97l-7.08-4.16a5.409,5.409,0,0,0-7.45,2.03l-13.63,24.02,0.95,18.08,15.58-8.37,13.63-24.02A5.608,5.608,0,0,0,1106.22,1831.97Zm-5.09,3.42-2.36-1.39a2.7,2.7,0,0,0-3.72,1.02l-10.91,19.21,0.24,8.39,6.85-4.22,10.9-19.22A2.788,2.788,0,0,0,1101.13,1835.39Zm-0.36,6.19-7.08-4.16-2.73,4.8,7.08,4.16Z" transform="translate(-1078.06 -1827.06)"/></svg>',
    'marketing': '<svg xmlns="http://www.w3.org/2000/svg" width="35.5" height="35.5" viewBox="0 0 35.5 35.5"><path d="M737.125,2003.63a8.871,8.871,0,0,1-8.875,8.87h-8.875a8.849,8.849,0,0,1-5.307-15.95,15.276,15.276,0,0,1-1.349-6.24c0-7.35,4.967-13.31,11.094-13.31s11.093,5.96,11.093,13.31a15.276,15.276,0,0,1-1.349,6.24A8.835,8.835,0,0,1,737.125,2003.63Zm-13.312-22.19c-3.677,0-6.656,3.97-6.656,8.87s2.979,8.88,6.656,8.88,6.656-3.98,6.656-8.88S727.489,1981.44,723.813,1981.44Zm7.3,18.82a9.6,9.6,0,0,1-14.605,0,4.42,4.42,0,0,0,2.865,7.8h8.875A4.419,4.419,0,0,0,731.115,2000.26ZM746,2002.52a7.766,7.766,0,0,1-7.765,7.76h-4.171a8.813,8.813,0,0,0,2.747-4.44h1.424a3.325,3.325,0,1,0,0-6.65h-2.341a8.844,8.844,0,0,0-2.364-2.58,14.534,14.534,0,0,0,.7-1.86h3.965a8.661,8.661,0,0,0,1.152-4.44c0-3.67-1.987-6.65-4.438-6.65a3.043,3.043,0,0,0-1.376.36,13.138,13.138,0,0,0-2.441-3.68,7.349,7.349,0,0,1,3.817-1.12c4.9,0,8.876,4.97,8.876,11.09a13.069,13.069,0,0,1-1.3,5.71A7.767,7.767,0,0,1,746,2002.52Z" transform="translate(-710.5 -1977)"/></svg>',
    'web': '<svg xmlns="http://www.w3.org/2000/svg" width="40.5" height="40.5" viewBox="0 0 40.5 40.5"><path d="M730.25,1868a20.25,20.25,0,1,1,20.25-20.25A20.253,20.253,0,0,1,730.25,1868Zm-14.43-20.58c1.421-.16,4.362-0.38,5.752.33a21.546,21.546,0,0,1,5.015,4.19l-5.768,6.7a14.334,14.334,0,0,0,23.289-14.81,27.4,27.4,0,0,1-3.562,3.13c-2.026-.22-1.043,2.28-1.043,2.28,0.854,5.55-2.084,6.23-2.084,6.23-4.008,4.12-7.169-4.83-7.169-4.83-0.742-4.98-1.169-6.57-1.169-6.57-5.13-3.21-.075-4.37,1.011-4.56h0.032c0.261-.04.2-0.04-0.032,0-1.451.2-1.174-.68-2.053-2.28s-1.973.27-2.084,0-0.624,2.95-2.085,3.42-1.042-3.42-1.042-3.42c-2.821,4.32-3.742,3.22-4.038,1.8A14.391,14.391,0,0,0,715.82,1847.42Z" transform="translate(-710 -1827.5)"/></svg>'
}
%}


<div class="icon-wrapper" style="height: {{ icon_size }}px; width: {{ icon_size }}px;">
    {% if icon[icon_name] is defined %}
        {{ icon[icon_name]|raw }}
    {% endif %}
</div>