.clickable-wrapper {
  height: 300px;
  width: 100%;
  max-width: 366px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  cursor: pointer;
  margin: 0 auto;

  &::after {
    content: url('~@/assets/img/loupe.png');
    position: absolute;
    height: 100%;
    background: rgba(46,204,113,0.7);
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  &:hover {
    &::after {
      display: flex;
    }
  }
}