{% set clickableWrapper_image = clickableWrapper_image|default('https://via.placeholder.com/1000') %}

<div class="clickable-wrapper" style="background-image: url({{ clickableWrapper_image }})"></div>