

<footer class="flex flex-col justify-center items-center">
    <p>Copyright 2014 Focal  - Built With Passion</p>
    <div class="flex justify-around pictogram">
        <div>
            <i class="fa-brands fa-twitter"></i>
        </div>
        <div>
            <i class="fa-brands fa-facebook-f"></i>
        </div>
        <div>
            <i class="fa-brands fa-pinterest"></i>
        </div>
        <div>
            <i class="fa-brands fa-google-plus-g"></i>
        </div>
        <div>
            <i class="fa-brands fa-dribbble"></i>
        </div>
        <div>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
    </div>
</footer>