
.bar{

  width: 100%;
  background: #eaeaea;
  margin-bottom: 40px;
      .fill{
        background: #2ecc71;
        span{
          font-size: 18px;
          color: #FFFFFF;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          font-weight: bold;
          height: 100%;
          margin-right: 10px;
        }
      }


}